/* You can add global styles to this file, and also import other style files */

@import './reset.scss';

body {
    background-color: #e0ffff;
    height: 100vh;
}

app-root {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.title {
    display: flex;
    align-items: center;
    font-size: 80px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
}

.column {
    flex-direction: column;
}

.medium {
    font-size: 56px;
}