/* You can add global styles to this file, and also import other style files */

@import './reset.scss';

body {
    background-color: #e0ffff;
    height: 100vh;
}

app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}