@import '../query/query.component.scss';

h1 {
    margin: 20px;
}

.queries {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}